$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

/*
  This file contains all the necessary styling for a uniform
  navigation bar that can exist on any of the v1, v2 or bootstrap
  pages.

  TODO: remove these
  $blue > primary
  $gray-200 > light
  $gray-600 > secondary
  $gray-800 > dark

  768px > grid-breakpoints(md)
  float: left > float mixin

*/
.global-header {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  padding-bottom: $baseline/2;
  border-bottom: 1px solid $blue;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  background: $white;

/*
  Logo and course identification block
*/
  .header-logo {
    display: inline;

    a {
      display: block;
      float: left;
      margin: $baseline/2 0 0 $baseline;

      .logo {
        height: 40px;
        float: left;
      }
    }

    .course-header {
      float: left;
      margin: $baseline 0 0 $baseline;
      color: $gray-800;

      .provider {
          font-weight: bold;
      }

      // Hide the course header for smaller screen sizes
      @media(max-width: 768px) {
        display: none;
      }
    }
  }

/*
  Main navigation buttons for Courses, programs, profile and explore buttons.

  There are two stylings for the two circumstances, first the mobile, followed
  by the desktop styling
*/
  // Desktop styling
  @media (min-width: 768px) {
    .nav-links {
      .nav-item {
        margin: 0 $baseline;

        a {
          text-decoration: none;
        }
      }

      .main {
        text-transform: uppercase;
        float: left;
        margin: $baseline 0 0 $baseline;

        .nav-item {
          float: left;
        }

        .nav-tab {
          text-transform: none;
          padding: 0;
          cursor: pointer;
          margin: 0;

          a {
            color: $gray-600;
            padding: $baseline/2 $baseline*1.25 $baseline*0.75;
            font-weight: 600;
            display: inline-block;
            margin-bottom: -1*$baseline/2;

            &.active {
              border-bottom: 2px solid $gray-700;

              &:hover {
                border-bottom-color: $gray-700;
              }
            }

            &:hover {
              cursor: pointer;
              border-bottom: 2px solid $blue;
            }
          }
        }
      }

      .secondary {
        float: right;
        margin: $baseline*0.6 $baseline 0 0;

        // All navigation items
        .nav-item {
          display: inline-block;
          padding: $baseline/2 0 0;
          margin: 0 $baseline/2;
          font-size: 14px;

          a {
            color: $gray-800;
            font-weight: bold;
          }
        }


        // Sign in, Register and Shopping Cart buttons
        .btn {
          margin: 0 $baseline/4 0;
          border: 1px solid $blue;
          padding: $baseline/4 $baseline;
          border-radius: 5px;
          cursor: pointer;
          text-decoration: none;
        }

        .sign-in-btn, .shopping-cart {
          background: $blue;
          color: $white;

          &:hover {
            background-color: $white;
            color: $blue;
          }
        }

        .register-btn {
          background: $white;
          color: $blue;

          &:hover {
            background-color: $blue;
            color: $white;
          }
        }

        // User information
        .user-image-frame {
          border: 1px solid $gray-300;
          margin: -1*$baseline/2 $baseline/4;
          border-radius: 5px;
          width: 40px;
        }

        // Dropdown behavior
        .toggle-user-dropdown {
          text-decoration: none;
          cursor: pointer;
        }
        .dropdown-menu {
          display: none;
          border: 1px solid $gray-600;
          position: absolute;
          background-color: $white;
          color: $gray-600;
          right: 30px;
          top: 50px;
          z-index: 10;

          a {
            .dropdown-item {
              padding: 8px 20px;
              cursor: pointer;
              font-weight: 600;

              &:hover {
                color: $gray-800;
                background-color: $gray-300;
              }
            }

            &:not(:last-child) {
              .dropdown-item {
                border-bottom: 1px solid $gray-200;
              }
            }
          }

        }
      }
    }
    .hamburger-menu {
      display: none;
    }
  }

  // Responsive styling for mobile
  @media (max-width: 768px) {
    // Styles for the transition from open to collapsed
    .nav-links {
      //height: 0; // Hide all elements when collapsed
      display: none;
      -webkit-transition: height 2.0s;
      -moz-transition: height 2.0s;
      transition: height 2.0s;

      &.nav-links-expanded {
        //height: auto; // Ensures entire field is shown
        display: block;
      }

      .nav-item-not-collapsible { // Hide any items that we do not want to collapse
        display: none;
      }
    }

    // Display and style all dropdown elements
    .nav-item, .dropdown-nav-item {
      display: inline-block;
      width: 100%;
      border: none;
      padding: 0;
      margin: $baseline*0.75 $baseline 0;
      color: $blue;
      border: none;
      text-decoration: none;
      background-color: transparent;
      font-weight: normal;

      &:hover {
        color: $gray-600;
      }

      a {
        text-decoration: none;

        .active {
          color: $gray-800;
        }

        &:hover {
          color: $gray-300;
        }
      }
    }

    // Custom styling to ensure dropdown elements match other nav elements in collapsed mode
    .dropdown-menu {
      display:inline !important;

      .dropdown-nav-item {
        margin-left: 0;
      }

      a:first-child{
        .dropdown-nav-item {
          margin-top: 0;
        }
      }
    }

    // Display the menu icon and allow for transition to an X on click
    .hamburger-menu {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 30px;
      height: 20px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;

      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: $gray-500;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;

        &:nth-child(1) {
          top: 0px;
        }

        &:nth-child(2), &:nth-child(3) {
          top: 7px;
        }

        &:nth-child(4) {
          top: 14px;
        }
      }

      &.open span {
        &:nth-child(1) {
          top: 18px;
          width: 0%;
          left: 50%;
        }

        &:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        &:nth-child(4) {
          top: 18px;
          width: 0%;
          left: 50%;
        }
      }
    }
  }
}
